body {
	margin: 0px;
}

#window-wrapper-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	overflow: hidden
}

/*** SIDE NAV CONTENT ***/

#side-nav {
	min-width: 25vw;
	max-height: 100vh;
	box-shadow: 1px 1px 5px #707070;
	padding: 8px;
	float: left;
	margin-right: 4px;
	overflow-y: scroll;
	background: #fff
}

#side-nav a:hover{
	cursor: pointer;
}

.side-nav-item-title {
	display: block;
	color: #0066ff;
	transition: 0.3s;
	border: solid 2px #fff;
	border-style: solid;
	font-size: 24px;
	font-weight: bold;
	padding: 2px;
	text-decoration: none
}

.side-nav-item {
	display: block;
	color: #0099ff;
	transition: 0.3s;
	border: solid 2px #fff;
	border-style: solid;
	font-size: 18px;
	margin-left: 8px;
	padding: 2px;
	text-decoration: none
}

.not-done {
	background: #000;
	color: #f00;
}

.tab {
	margin-left: 18px
}

.side-nav-item-title:hover {
	border-color: #0066ff;
	background: #f0f0f0
}

.side-nav-item:hover {
	border-color: #0099ff;
	background: #f0f0f0
}

.section {
	min-height: 300px;
	border-radius: 4px;
	padding: 8px;
	margin: 4px;
	margin-top: 16px;
	padding-top: 62px
}

.section h2 {
	color: #0066ff;
	border: solid 2px #0066ff;
	padding: 8px;
	border-radius: 4px
}

.section h3 {
	color: #0099ff;
	padding: 8px;
	border: solid 2px #0099ff;
	border-radius: 4px
}

.section p {
	max-width: 65vw;
	font-size: 18px
}

.section a {
	text-decoration: none;
	transition: 0.3s;
	color: #0066cc;
	border: solid 2px #fff;
	border-style: none none solid none
}

.section a:hover {
	border-color: #0066cc
}

.section .code {
	background: #e0e0e0;
	border-radius: 4px;
	font-size: 15px;
	padding: 2px;
	color: #000;
	line-height: 150%;
	font-family: futura
}

.section .output {
	background: #e0e0e0;
	border-radius: 4px;
	font-size: 15px;
	padding: 2px;
	color: #00a
}


.naranja {
	color: #ff6600
}

#content-window {
	max-height: 100vh;
	box-shadow: 1px 1px 5px #707070;
	padding: 8px;
	overflow-y: scroll
}

#left-nav {
	position: fixed;
	display: block;
	height: 40px;
	box-shadow: 1px 1px 5px #707070;
	padding-top: 16px;
	padding-left: 16px;
	z-index: 1;
	background: #fff;
	width: 100vw
}
/* Right Nav Bar */
#right-nav {
	position: fixed;
	display: block;
	height: 40px;
	box-shadow: 1px 1px 5px #707070;
	padding-top: 16px;
	padding-right: 32px;
	text-align: right;
	width: 100%;
	z-index: 1;
	background: #fff;
	font-family: 'futura'
}

.nav-item {
	cursor: pointer;
	margin: 8px;
	transition: 0.3s;
	color: #000;
	font-family: "Josefin Sans",sans-serif
}
.nav-item:hover {
	color: #a0a0a0
}

/* Footer components */
#footer {
	background: #303030;
	color: #f0f0f0;
	padding: 16px;
	font-size: 20px;
	min-height: 175px
}

/* Wrapper for a footer section */
.footer-section {
	padding: 8px;
	margin: 8px;
	margin-right: 16px;
	margin-bottom: 16px;
	float: left
}

/* Title for each section */
.footer-section-title {
	font-weight: 600;
	font-size: 16px;
	margin: 0px
}

/* A footer section link item */
.footer-section-item {
	font-size: 16px;
	color: #707070;
	padding-bottom: 2px;
	text-decoration: none;
	transition: 0.3s
}

.footer-section-item:hover {
	color: #f0f0f0
}

.footer-section-item:focus {
	outline: 0
}

/* Restructures the footer */
@media(max-width: 900px) {
	.footer-section {
		float: none;
		margin: 8px
	}
}

/* Removes the nav bar entirely for the guide alone */
@media(max-width: 570px) {
	#side-nav {
		display: none
	}
}